*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #fff;
}

.heading{
  font-size: 50px;
  font-weight: 800;
}
.counterclass{
  font-size: 75px;
  font-weight: 900;
  color: #fff;
}
.counterbutton{
  margin: 8px;
  border-radius: 12px;
  padding: 5px;
  border-width: 12px;
  background-color: #04042d2a;
  border-color: rgb(35, 35, 58);
  color:whitesmoke;
  width: 350px;
  height: 70px;
  padding-top: 10px;
  
}
button{
  padding: 5px;
  width: 50px;
  height: 50px;
  font-weight: 200;
  color:whitesmoke;
  border-radius: 42px;
  background-color: #dadada69;

  gap: 30px;
}


#page
{
    background-color: #0d2eb1;
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content:center ;

}
.box{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: black;
    overflow: hidden;
    border-radius: 24px ;
}

.box>.in{
background-color: #252525;
border-color:#fff ;
position: relative;
width: 397px;
height: 397px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 99;
border-radius: 24px ;
}

.box::after
{
   content: "";
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
   position: absolute;
   height: 1200px;
   width: 300px;
   background-color: #fff;
   animation: move 1.5s infinite;
}
@keyframes move {
    100%{
        transform: translate(-50%,-50%)
        rotate(225deg);
    }
  }
